
/*-------------------------------------------------------------------------

    Theme Name: Cloudy Town - Simple Blog HTML Template
    Theme URI: http://template.themeton.com/cloudytown
    Author: ThemeTon
    Author URI: http://themeton.com
    Description: Multipurpose HTML5, CSS3 template for your creative works
    Version: 1.0

  -------------------------------------------------------------------------

    Table of Contents

    01. Header
    02. Helpers
    03. Elements
    04. Content
    05. Blog
    06. Comments
    07. Page
    08. Portfolio
    09. Widgets
    10. Footer
    11. Responsive

  -------------------------------------------------------------------------*/



/* Standard Style
====================================*/
.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  text-decoration: none;
  background-color: #fff;
  color: #424440;
}

form {
  position: relative;
}

form input[type=text],
form input[type=password],
form input[type=url],
form input[type=email] {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  width: 93%;
  font-family: 'Merriweather';
  font-size: 11px;
  font-weight: 100;
  color: #888888;
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 15px;
  outline: none;
}
form textarea {
  border: 1px solid rgba(51, 51, 51, 0.2);
  background-color: #fff;
  width: 100%;
  letter-spacing: 0.7px;
  font-family: 'Merriweather';
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  color: #333333;
  padding: 20px;
  min-height: 180px;
  outline:none;
}

form textarea::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.9);
}

form textarea:-moz-placeholder {
  color: rgba(51, 51, 51, 0.9);
}

form textarea::-moz-placeholder {
  color: rgba(51, 51, 51, 0.9);
}

form textarea:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.9);
}






.transition {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* Header Style
====================================*/

header#header {
  width: 100%;
  display: block;
  position: relative;
}

.logo {
  text-align: center;
  padding: 120px 0;
  background-size: cover;
}

.logo h1,
.logo a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: bold;
  color: #333;
  letter-spacing: -0.5px;
  margin: 0;
}

.logo p {
  font-family: 'Montserrat';
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #888888;
}

header {
  margin-bottom: 30px;
}

header .menu-container {
  background-color: #ffffff;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

header nav.main-nav {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  float: left;
  padding-left: 60px;
}

header nav.main-nav > ul {
  display: block;
  position: relative;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

header nav.main-nav > ul > li {
  display: inline-block;
  position: relative;
  line-height: 90px;
}

header nav.main-nav > ul > li + li {
  margin-left: 28px;
}

header nav.main-nav > ul > li > a {
  color: #444444;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header nav.main-nav > ul > li > a:hover {
  text-decoration: none;
  color: #ffb661;
}

header nav.main-nav > ul > li.menu-item-has-children > a::after {
  font-family: Fontawesome;
  font-size: 12px;
  margin-left: 10px;
}

header nav.main-nav > ul > li > ul {
  top: 68px;
  font-family: 'Montserrat';
}

header #close-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  color: #ffb661;
  font-size: 30px;
  right: 50px;
  top: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1010;
  cursor: pointer;
  display: none;
}

.h-search {
  float: right;
  padding-right: 30px;
}

.h-search form {
  position: relative;
}

.h-search form input[type=text] {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  width: 100%;
  font-size: 11px;
  font-weight: 100;
  color: #888888;
  padding-left: 10px;
  padding-right: 30px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #e2e2e2;
}

.h-search .button,
.h-search button,
.h-search input[type=button],
.h-search input[type=submit] {
  color: #444444;
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Merriweather';
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: absolute;
  top: 38px;
  right: 5px;
  line-height: 0;
  outline: none;
}

.h-search .head-social {
  float: right;
  margin-right: 30px;
}

.h-search .head-social .socials {
  color: #444444;
  font-size: 14px;
  line-height: 90px;
}

.h-search .head-social .socials + .socials {
  margin-left: 10px;
}

.h-search .search_form {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  font-size: 11px;
  float: right;
  line-height: 90px;
}
/* Content
====================================*/

body {
  background-color: #f8f8f8;
  font-family: 'Merriweather';
  color: #666666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

.bubble-line {
  position: relative;
  height: 30px;
  margin-left: -1px;
  margin-right: -1px;
}

.bubble-line::before {
  content: '';
  height: 0;
  width: 100%;
  border-top: 1px dashed #e2e2e2;
  position: absolute;
  top: 50%;
  left: 0;
}

.bubble-line .left-shape,
.bubble-line .right-shape {
  width: 15px;
  height: 30px;
  position: absolute;
  top: 0;
}

.bubble-line .left-shape svg path,
.bubble-line .right-shape svg path {
  fill: #f8f8f8;
  stroke: #e2e2e2;
}

.bubble-line .left-shape {
  left: 0;
}

.bubble-line .right-shape {
  right: 0;
}

article.content-item {
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF;
  position: relative;
}

article.content-item .post-ribbon {
  height: 50px;
  width: 35px;
  position: absolute;
  right: 60px;
  top: -1px;
  background-size: cover;
}

article.content-item .post-ribbon svg polygon {
  fill: #ffb661;
}

article.content-item .post-ribbon svg path {
  fill: #ffa338;
}

article.content-item .post-ribbon .fa-star {
  color: #FFFFFF;
  font-size: 13px;
  position: absolute;
  top: 48%;
  z-index: 10;
  width: 100%;
  left: 0px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

article.content-item .post-title {
  padding: 60px 60px 0 60px;
}

article.content-item .post-title h2 {
  font-size: 40px;
  font-family: 'Montserrat';
  color: #444444;
  font-weight: 700;
  line-height: 48px;
  padding: 0;
  margin: 0;
}

article.content-item .post-title h2 a {
  color: #444444;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

article.content-item .post-title h2 a:hover {
  color: #ffb661;
  text-decoration: none;
}

article.content-item .post-title.comment-title h3 {
  font-size: 24px;
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #444444;
  padding-bottom: 10px;
}

article.content-item .about-title {
  padding: 60px 60px 24px 60px;
}

article.content-item .about-title h2 {
  font-size: 40px;
  font-family: 'Montserrat';
  color: #444444;
  font-weight: 700;
  line-height: 48px;
  padding: 0;
  margin: 0;
}

article.content-item .entry-media {
  position: relative;
  padding: 0px;
}

article.content-item .entry-media h3 {
  color: #444444;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 36px;
}

article.content-item .entry-media .container {
  width: 100%;
}

article.content-item .post-content {
  margin-top: 30px;
  padding: 0 60px;
}

article.content-item .post-content img {
  width: 100%;
  height: auto;
}

article.content-item .post-content .gallery {
  margin: 30px 0 10px 0;
}

article.content-item .post-content .gallery .more {
  position: absolute;
  width: 94%;
  height: 94%;
  display: block;
  padding: 45px;
  top: 4px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.78);
  text-align: center;
}

article.content-item .post-content .gallery .more p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Montserrat';
  letter-spacing: -0.3px;
  padding: 0px;
  margin-top: -10px;
}

article.content-item .post-content .gallery .more span {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat';
  letter-spacing: -0.3px;
}

article.content-item .post-content p {
  padding: 0;
  font-size: 14px;
  font-family: 'Merriweather';
  color: #666666;
  margin-top: 20px;
  line-height: 28px;
}

article.content-item .post-content .sub-title {
  padding: 0;
  font-size: 14px;
  font-family: 'Merriweather';
  color: #888888;
  line-height: 28px;
  margin: 0 0 40px 0;
}

article.content-item .post-content .post-in {
  width: 100%;
  display: block;
  height: 200px;
  background: transparent;
  border: 1px solid #e2e2e2;
  text-align: center;
  padding-top: 70px;
}

article.content-item .post-content .post-in a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  background: #444444;
  padding: 11px 22px;
  border-radius: 40px;
}

article.content-item .post-content.related {
  margin-bottom: 60px;
}

article.content-item .post-content.related h4 {
  font-family: 'Montserrat';
  color: #444;
  font-size: 18px;
  letter-spacing: -0.38px;
  line-height: 28px;
  font-weight: 700;
  padding: 0;
}

article.content-item .post-content.related a {
  font-family: 'Montserrat';
  color: #444;
  text-decoration: none;
}

article.content-item .post-content.related a:hover {
  color: #ffb661;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

article.content-item .related-post p {
  padding: 0;
  margin: 0 0 10px 0;
  line-height: 1em;
  letter-spacing: -0.3px;
  font-family: 'Montserrat';
  color: #888888;
  font-size: 11px;
}

article.content-item .related-post img {
  width: 100%;
  height: 140px;
}

article.content-item .related-post .fa-clock-o {
  font-family: Fontawesome;
  font-size: 14px;
  display: block;
  float: left;
  margin: -2px 3px 0 0;
}

article.content-item .post-content.comment {
  padding-bottom: 60px;
  margin-bottom: 90px;
}

article.content-item .post-content.comment .comment-form input {
  width: 30%;
  border: 1px solid #dddddd;
  outline: none;
  margin-bottom: -5px;
}

article.content-item .post-content.comment .comment-form textarea {
  outline: none;
}

article.content-item .post-content.comment .comment-form .input-name {
  color: #888888;
  font-family: 'Merriweather';
  font-size: 11px;
  margin-bottom: 0PX;
  padding: 0;
}

article.content-item .post-content.comment .comment-submit {
  display: block;
  margin: 30px 0 0 0;
  float: left;
}

article.content-item .post-content.comment-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

article.content-item .post-content.comment-list ul .user-comment-reply {
  margin-left: 90px;
  border-bottom: 1px dashed #e2e2e2;
  display: block;
  width: 85%;
}

article.content-item .post-content.comment-list ul .user-comment-reply .user-comment h5 {
  letter-spacing: -0.38px;
  line-height: 28px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #444444;
}

article.content-item .post-content.comment-list ul .user-comment-reply .user-comment p {
  margin: 0;
  padding: 0;
}

article.content-item .post-content.comment-list ul .user-comment-reply .user-comment span {
  font-size: 12px;
  font-family: 'Merriweather';
  line-height: 28px;
  color: #888888;
  margin: 0;
  padding: 0;
}

article.content-item .post-content.comment-list ul li {
  width: 100%;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px dashed #e2e2e2;
}

article.content-item .post-content.comment-list ul li .user-profile {
  width: 60px;
  height: 60px;
  border-radius: 55px;
  background: #888888;
  float: left;
  margin-top: 30px;
}

article.content-item .post-content.comment-list ul li .user-profile img {
  width: 100%;
  height: 100%;
  border-radius: 55px;
}

article.content-item .post-content.comment-list ul li .user-comment {
  width: 88%;
  margin-left: 90px;
}

article.content-item .post-content.comment-list ul li .user-comment h5 {
  letter-spacing: -0.38px;
  line-height: 28px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #444444;
}

article.content-item .post-content.comment-list ul li .user-comment p {
  margin: 0;
  padding: 0;
}

article.content-item .post-content.comment-list ul li .user-comment span {
  font-size: 12px;
  font-family: 'Merriweather';
  line-height: 28px;
  color: #888888;
  margin: 0;
  padding: 0;
}

article.content-item .post-content.comment-list ul li:last-child {
  border-bottom: none;
  margin-bottom: 60px;
}

article.content-item .post-content.about {
  display: block;
  font-size: 24px;
  font-family: 'Montserrat';
  color: #444444;
  text-align: left;
  letter-spacing: -0.4px;
  line-height: 1em;
  font-weight: 500;
  padding-bottom: 60px;
}

article.content-item .post-footer {
  padding: 0 60px;
  margin: 26px 0 75px 0;
}

article.content-item .post-footer .content-btn {
  float: left;
  margin-top: 10px;
  padding: 0;
}

article.content-item .post-footer .s-tags a {
  margin-top: 18px;
  display: inline-block;
  font-size: 10px;
  line-height: 11px;
  font-family: #444444;
  font-weight: normal;
  color: #888;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #e2e2e2;
  padding: 7px 13px;
  margin-bottom: 5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
}

article.content-item .post-footer .s-tags a:hover {
  text-decoration: none;
  background-color: #eea236;
  color: #FFFFFF;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

article.content-item .post-footer .content-social {
  margin-top: 15px;
}

article.content-item .post-footer .content-social a {
  font-size: 12px;
  font-family: 'Merriweather';
  text-decoration: none;
  color: #666666;
  display: inline-block;
}

article.content-item .post-footer .content-social a :hover {
  color: #ffb661;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

article.content-item .post-footer .content-social a + a {
  margin-left: 16px;
}

article.content-item .post-footer .content-social a i {
  font-size: 12px;
  color: #666666;
  border: 1px solid #e2e2e2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}

article.content-item .post-footer .content-social a i:hover {
  background: #ffb661;
  color: #FFFFFF;
}

article.content-item .post-footer .content-social.grid i {
  margin-right: 0px;
}

article.content-item .post-footer .content-social.grid a {
  font-size: 12px;
  font-family: 'Merriweather';
  text-decoration: none;
  color: #666666;
  display: inline-block;
}

article.content-item .post-footer .content-social.grid a + a {
  margin-left: 1px;
}

.instagram-follow {
  width: 100%;
  display: block;
  padding: 37px 0;
  text-align: center;
}

.instagram-follow a {
  text-decoration: none;
}

.instagram-follow a :hover {
  color: #888888;
}

.instagram-follow h2 {
  padding: 0;
  margin: 0;
  color: #444444;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 28px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.content_slide {
  margin: 0;
}

.contact-media {
  width: 100%;
  border: 1px solid #e2e2e2;
  background: #FFFFFF;
  padding: 0 0 85px 0;
}

.contact-media .contact-media-title {
  display: block;
  font-size: 30px;
  font-family: 'Montserrat';
  color: #444444;
  line-height: 1em;
  font-weight: 700;
  padding: 40px 0 0 60px;
  border: none;
}

.contact-media .contact-content {
  padding: 0 60px;
  margin: 16px 0 30px 0;
}

.contact-media .contact-content img {
  width: 100%;
}

.contact-media .contact-content h3 {
  color: #444444;
  padding: 0;
  margin-top: 22px;
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: -0.38px;
  line-height: 28px;
  font-weight: 700;
}

.contact-media .contact-content p {
  color: #666666;
  font-family: 'Merriweather';
  font-size: 14px;
  margin-top: 10px;
  line-height: 28px;
}

.contact-media .contact-row {
  margin-top: 30PX;
  margin-bottom: 70px;
}

.contact-media .contact-row .contact-form input {
  width: 30%;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.contact-media .contact-row .contact-form p {
  color: #888888;
  font-family: 'Merriweather';
  font-size: 11px;
  margin-bottom: 5PX;
  padding: 0;
}

.contact-media .contact-row .contact-submit {
  display: block;
  margin: 30px 0 0 0;
  float: left;
}

.post-single {
  margin: 30px 0 30px 0;
}

.s-slide {
  width: 100%;
  display: block;
}

.s-slide .swiper-slide img {
  width: 100%;
}
/*grid style*/

.grid-wrapper {
  width: 100%;
  padding: 0px;
}

.grid-wrapper .grid-content {
  background: #FFFFFF;
}
/*full width */

.full-width-content {
  width: 100%;
  height: auto;
  padding: 30px;
}

.full-width-content img {
  width: 100%;
}

.photos {
  padding: 5px 10px 5px 0;
}
/* Comments
====================================*/

#comments {
  margin: 10px 60px 60px 60px;
}

#comments .comments-wrapper .comments-title {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 30px;
  line-height: 1em;
  margin-bottom: 20px;
}

#comments .comments-wrapper ol.comment-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-bottom: 60px;
}

#comments .comments-wrapper ol.comment-list li {
  overflow: hidden;
  display: block;
}

#comments .comments-wrapper ol.comment-list li article {
  overflow: hidden;
  display: block;
  width: 100%;
  border-bottom: 1px dashed #e2e2e2;
}

#comments .comments-wrapper ol.comment-list li article .comment-avatar {
  width: 60px;
  height: 60px;
  border-radius: 55px;
  float: left;
  margin-top: 30px;
}

#comments .comments-wrapper ol.comment-list li article .comment-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 55px;
}

#comments .comments-wrapper ol.comment-list li article .comment-body {
  margin-left: 90px;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data {
  overflow: hidden;
  margin-bottom: 15px;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data .comment-author {
  display: block;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: #444444;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .meta-data .comment-date {
  font-size: 12px;
  color: #888888;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .comment-content {
  margin: 0;
  padding: 0;
}

#comments .comments-wrapper ol.comment-list li article .comment-body .comment-content p {
  color: #666666;
  font-size: 14px;
  font-family: 'Merriweather';
  line-height: 28px;
  margin: -10px 0 20px 0;
}

#comments .comments-wrapper ol.comment-list li ul,
#comments .comments-wrapper ol.comment-list li ol {
  padding-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#comments .comments-wrapper ol.comment-list > li > article:last-child {
  border-bottom: none;
}
/* Page
====================================*/

.button {
  display: inline-block;
  text-align: center;
  border-radius: 26px;
  padding: 10px 20px;
  background-color: #ffb661;
  border: 1px solid #ffb661;
  color: #fff;
  font-family: 'Montserrat';
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button:hover {
  background-color: #ffaa47;
  color: #FFFFFF;
}

.button.color-y {
  background: #e6a357;
  padding: 12px 25px;
  position: absolute;
  right: -88px;
  top: -12px;
}

.button.color-y:hover {
  background-color: #ffa63d;
  color: #FFFFFF;
}

.post-icon {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #ffb661;
  color: #FFFFFF;
  border-radius: 35px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.post-icon p:before {
  content: "\201C";
  color: #ffffff;
  display: block;
  padding: 0;
  font-size: 36px;
  font-family: Fontawesome;
  line-height: 52px;
  text-align: center;
}

.post-icon.black {
  width: 40px;
  height: 40px;
  display: block;
  color: #dddddd;
  background: none;
  border: 1px solid;
  border-radius: 35px;
  margin-bottom: 20px;
}

.post-icon.black p {
  margin: 0 !important;
  padding: 0;
}

.post-icon.black p:before {
  content: "\201C";
  color: #888;
}

.post-horizontal-rule {
  color: #888888;
  width: 50px;
  background: #e2e2e2;
  height: 2px;
  margin: 20px 0 0 0;
}

.entry-line.small {
  border-bottom: 1px dashed #dddddd;
  right: 38px;
  width: 118%;
  height: auto;
  display: block;
  position: relative;
  margin-top: 30px;
}

.entry-date {
  padding: 0;
  margin-top: 14px;
  margin-bottom: 40px;
  width: 100%;
  height: 5px;
}

.entry-date ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.entry-date ul li {
  padding: 0;
  display: inline-block;
  margin: 0;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.3px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #888888;
}

.entry-date ul li a {
  color: #ffb661;
  text-decoration: none;
}

.entry-date ul li a:hover {
  color: #ffa63d;
}

.entry-date ul li::after {
  content: '•';
  color: #e2e2e2;
  margin-left: 12px;
  margin-right: 12px;
}

.entry-date ul li:last-child::after {
  display: none;
}

.entry-date .post-category {
  color: #ffb661;
  margin: 0;
  float: left;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.3px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 8px 15px 0 0;
}

.entry-date .post-date {
  color: #888888;
  margin: 0;
  float: left;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.3px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 8px 15px;
}

.entry-date .post-comment {
  color: #888888;
  margin: 0;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.3px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  float: left;
  padding: 8px 0 0 15px;
}

.swiper-button-prev.circle-arrow {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  display: block;
  background: rgba(0, 0, 0, 0.75);
}

.swiper-button-prev.circle-arrow:hover {
  background: rgba(0, 0, 0, 0.66);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.swiper-button-prev.circle-arrow .fa-chevron-left {
  font-size: 14px;
  line-height: 50px;
  color: #FFF;
  text-align: center;
  display: block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.swiper-button-next.circle-arrow {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  display: block;
  background: rgba(0, 0, 0, 0.75);
}

.swiper-button-next.circle-arrow:hover {
  background: rgba(0, 0, 0, 0.66);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.swiper-button-next.circle-arrow .fa-chevron-right {
  font-size: 14px;
  line-height: 50px;
  color: #FFF;
  text-align: center;
  display: block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post-navigation {
  display: block;
  text-align: center;
  margin: 30px 0;
}

.post-navigation ul {
  display: block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.post-navigation ul li {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.post-navigation ul li .fa-chevron-right {
  font-size: 12px;
}

.post-navigation ul li a,
.post-navigation ul li span {
  font-size: 14px;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  letter-spacing: -0.38px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  color: #666666;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post-navigation ul li span,
.post-navigation ul li a:hover {
  text-decoration: none;
  background-color: #ffb661;
  color: #fff;
  border-color: #ffb661;
}
/*
====================================*/

.sidebar .widget {
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  padding: 0px;
  position: relative;
}

.sidebar .widget .widget-title {
  font-size: 24px;
  font-family: 'Montserrat';
  color: #444444;
  letter-spacing: -0.5px;
  line-height: 1em;
  font-weight: 700;
  padding-left: 35px;
  padding-top: 30px;
}

.sidebar .widget .widget-title a {
  color: #444444;
  text-decoration: none;
}

.sidebar .widget .widget-title a:hover {
  color: #ffb661;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sidebar .widget .widget-content {
  display: inline-block;
  padding: 20px 34px 55px 34px;
  width: 100%;
}

.sidebar .widget .widget-content img {
  width: 100%;
}

.sidebar .widget .widget-content p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: 'Merriweather';
  color: #888888;
  line-height: 26px;
  margin-top: 30px;
}

.sidebar .widget .widget-content h3 {
  font-size: 18px;
  color: #444444;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 0.5px;
}

.sidebar .widget .widget-content > ul {
  list-style-type: none;
  margin-top: -20px;
  padding: 0px;
  display: block;
}

.sidebar .widget .widget-content > ul li {
  padding: 5px 0;
  border-bottom: 1px dashed #dddddd;
  font-family: 'Montserrat';
  line-height: 54px;
  font-size: 11px;
  text-transform: uppercase;
}

.sidebar .widget .widget-content > ul li a {
  color: #888888;
  text-decoration: none;
}

.sidebar .widget .widget-content > ul li a:hover {
  color: #ffb661;
}

.sidebar .widget .widget-content > ul li:last-child {
  margin-bottom: -33px;
  border-bottom: none;
}

.sidebar .widget .widget-content .widget-more {
  float: left;
  margin-top: 15px;
}

.sidebar .widget .widget-content.sm {
  margin: -20px 0 48px 0;
  padding: 0 30px;
}

.sidebar .widget .widget-recent {
  width: 100%;
  border-bottom: 1px dashed #e2e2e2;
  margin-bottom: 30px;
}

.sidebar .widget .widget-recent img {
  width: 100%;
  height: 140px;
}

.sidebar .widget .widget-recent h4 {
  padding: 0;
  text-decoration: none;
  margin-top: 20px;
  color: #444444;
  font-family: 'Montserrat';
  font-weight: 700;
}

.sidebar .widget .widget-recent a {
  text-decoration: none;
  color: #444444;
  font-size: 18px;
  letter-spacing: -0.38px;
  line-height: 24px;
  font-family: 'Montserrat';
}

.sidebar .widget .widget-recent a:hover {
  color: #ffb661;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sidebar .widget .widget-recent p {
  font-size: 13px;
  line-height: 24px;
  color: #666666;
  margin: 0 0 30px 0;
  font-family: 'Merriweather';
}

.sidebar .widget .widget-recent.last {
  border: none;
  margin-bottom: -30px;
}

.sidebar .widget .widget-recent.last img {
  width: 100%;
  height: 140px;
}

.sidebar .widget-sub {
  border: 5px solid #ffa338;
  background: #ffb661;
  width: 100%;
  height: 305px;
  display: block;
  margin-bottom: 30px;
  padding: 30px;
}

.sidebar .widget-sub h5 {
  padding: 0;
  margin: 30px 0 30px 0;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  line-height: 11px;
}

.sidebar .widget-sub p {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Merriweather';
  line-height: 24px;
}

.sidebar .widget-sub.social {
  width: 100%;
  min-height: 350px;
  background: #FFFFFF;
  display: block;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #dddddd;
}

.sidebar .widget-sub.social > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

.sidebar .widget-sub.social > ul li {
  padding: 15px 0 60px 0;
  text-align: left;
  color: #888888;
  font-family: 'Montserrat';
  border-bottom: 1px dashed #dddddd;
}

.sidebar .widget-sub.social > ul li div {
  color: #888888;
  font-size: 12px;
  text-align: right;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  display: block;
  float: right;
  font-weight: 500;
  line-height: 15px;
  margin-top: 8px;
}

.sidebar .widget-sub.social > ul li:last-child {
  border: none;
}

.sidebar .widget-sub.social > ul li:first-child {
  margin: 0px;
}

.sidebar .widget-sub.social > ul li a {
  color: #888888;
  text-decoration: none;
}

.sidebar .widget-sub.social > ul li .social-widget {
  float: left;
}

.sidebar .widget-sub.social > ul li .social-widget span {
  color: #888888;
  font-family: 'Montserrat';
  font-size: 12px;
  text-align: left;
  padding-left: 15px;
  text-transform: uppercase;
}

.sidebar .widget-sub.social > ul li .social-widget span:hover {
  color: #ffb661;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-facebook {
  font-size: 14px;
  color: #FFFFFF;
  width: 47px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background: #3b5998;
  border-radius: 50px;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-facebook:hover {
  color: #e2cfff;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-twitter {
  font-size: 14px;
  color: #FFFFFF;
  width: 47px;
  height: 47px;
  background: #55acee;
  line-height: 47px;
  text-align: center;
  border-radius: 50px;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-twitter:hover {
  color: #e2cfff;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-google-plus {
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 47px;
  height: 47px;
  background: #dc4e41;
  line-height: 47px;
  text-align: center;
  border-radius: 30px;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-google-plus:hover {
  color: #e2cfff;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-instagram {
  font-size: 14px;
  color: #FFFFFF;
  width: 47px;
  height: 47px;
  background: #3f729b;
  line-height: 47px;
  text-align: center;
  border-radius: 50px;
}

.sidebar .widget-sub.social > ul li .social-widget .fa-instagram:hover {
  color: #e2cfff;
}

.sidebar .widget-sub-s {
  width: 100%;
  /* height: 50px; */
  display: block;
  background: #FFFFFF;
  margin: 30px 0 0 0;
  border-radius: 45px;
  padding: 26px 0;
}

.sidebar .widget-sub-s .sign_up_form {
  width: 60%;
  height: auto;
  background: none;
  float: left;
  margin: -20px 0 0 23px;
  font-family: Arial sans-serif;
  font-style: normal;
  color: #dddddd;
  font-size: 14px;
}

.sidebar .widget-sub-s .sign_up_form input {
  border: none;
  font-family: Arial sans-serif;
  font-style: normal;
  font-size: 14px;
}

.sidebar .widget-sub-s div {
  position: absolute;
  top: -2px;
  right: -89px;
}

.widget .widget-tags {
  margin: 0;
  padding: 0;
}

.widget .widget-tags a {
  display: inline-block;
  font-size: 10px;
  line-height: 11px;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #888;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #e2e2e2;
  padding: 7px 13px;
  margin-bottom: 5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.widget .widget-tags a:hover {
  text-decoration: none;
  background-color: #eea236;
  border: 1px solid #ff9e2e;
  color: #FFFFFF;
}
/* Footer
====================================*/

.footer-slide div {
  text-align: center;
}

.footer-slide .fslide {
  margin: 0;
  padding: 0;
  border: none;
}

.footer-slide .fslide img {
  border: none;
}

.footer-slide .fslide .thumbnails {
  border: none;
}

.footer-slide .swiper-container .swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  margin: 0;
  display: inline-block;
}

.swiper-slide img {
  width: 320px;
  height: auto;
}

.swiper-center {
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 40px;
  padding: 10px 20px;
  top: 44%;
  right: 46%;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.swiper-center:hover {
  background: rgba(0, 0, 0, 0.66);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.swiper-center a {
  color: #FFFFFF;
  text-decoration: none;
}

.swiper-center .fa-instagram {
  padding-right: 10px;
}

#footer {
  overflow: hidden;
}

#footer .footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer .footer-cp-text P {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #888888;
  letter-spacing: -0.38px;
  line-height: 1em;
}

#footer .footer-cp-text P a {
  text-decoration: none;
  color: #ffb661;
}

#footer .sub-footer {
  background-color: #FFFFFF;
  padding-top: 38px;
  padding-bottom: 38px;
  text-align: center;
}
/* Helpers
====================================*/

.inner-table {
  display: table;
  width: 100%;
  height: 100%;
}

.inner-table .inner-cell {
  display: table-cell;
  vertical-align: middle;
}

.padding4x {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-light {
  color: #fff;
}

.text-light.title-lg,
.text-light.title-md {
  color: #fff;
}

.text-thin {
  font-weight: 100;
}

.color-brand {
  color: #ffb661;
}

.text-brand {
  color: #ffb661;
}

.ph1 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph2 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph3 {
  padding-left: 30px;
  padding-right: 30px;
}

.ph4 {
  padding-left: 40px;
  padding-right: 40px;
}

.ph5 {
  padding-left: 50px;
  padding-right: 50px;
}

.ph6 {
  padding-left: 60px;
  padding-right: 60px;
}

.ph7 {
  padding-left: 70px;
  padding-right: 70px;
}

.ph8 {
  padding-left: 80px;
  padding-right: 80px;
}

.ph9 {
  padding-left: 90px;
  padding-right: 90px;
}

.ph10 {
  padding-left: 100px;
  padding-right: 100px;
}

.ph11 {
  padding-left: 110px;
  padding-right: 101px;
}

.ph12 {
  padding-left: 120px;
  padding-right: 120px;
}

.ph13 {
  padding-left: 130px;
  padding-right: 130px;
}

.ph14 {
  padding-left: 140px;
  padding-right: 140px;
}

.ph15 {
  padding-left: 150px;
  padding-right: 150px;
}

.ph16 {
  padding-left: 160px;
  padding-right: 160px;
}

.ph0 {
  padding-left: 0px;
  padding-right: 0px;
}

.phl0 {
  padding-left: 0px;
}

.phr0 {
  padding-right: 0px;
}

.pv1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pv4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pv5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pv6 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pv7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pv8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pv9 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pv10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pv11 {
  padding-top: 110px;
  padding-bottom: 101px;
}

.pv12 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pv13 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.pv14 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.pv15 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.pv16 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.pv0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pvt0 {
  padding-top: 0px;
}

.pvb0 {
  padding-bottom: 0px;
}

.mv1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mv4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mv5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mv6 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mv7 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mv8 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mv9 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mv10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mv11 {
  margin-top: 110px;
  margin-bottom: 101px;
}

.mv12 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mv13 {
  margin-top: 130px;
  margin-bottom: 130px;
}

.mv14 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.mv15 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.mv16 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.mv0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mvt0 {
  margin-top: 0px;
}

.mvb0 {
  margin-bottom: 0px;
}

.mh1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh3 {
  margin-left: 30px;
  margin-right: 30px;
}

.mh4 {
  margin-left: 40px;
  margin-right: 40px;
}

.mh5 {
  margin-left: 50px;
  margin-right: 50px;
}

.mh6 {
  margin-left: 60px;
  margin-right: 60px;
}

.mh7 {
  margin-left: 70px;
  margin-right: 70px;
}

.mh8 {
  margin-left: 80px;
  margin-right: 80px;
}

.mh9 {
  margin-left: 90px;
  margin-right: 90px;
}

.mh10 {
  margin-left: 100px;
  margin-right: 100px;
}

.mh11 {
  margin-left: 110px;
  margin-right: 101px;
}

.mh12 {
  margin-left: 120px;
  margin-right: 120px;
}

.mh13 {
  margin-left: 130px;
  margin-right: 130px;
}

.mh14 {
  margin-left: 140px;
  margin-right: 140px;
}

.mh15 {
  margin-left: 150px;
  margin-right: 150px;
}

.mh16 {
  margin-left: 160px;
  margin-right: 160px;
}

.mh0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mhl0 {
  margin-left: 0px;
}

.mhr0 {
  margin-right: 0px;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-center-top {
  background-position: center top;
}

.bg-center-center {
  background-position: center center;
}

.bg-left-top {
  background-position: left center;
}

.bg-left-center {
  background-position: left center;
}

.border-top {
  border-top: 1px solid #f0f0f0;
}

.border-bottom {
  border-bottom: 1px solid #f0f0f0;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}
/* Internet Explorer
====================================*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
}
/* Helpers
====================================*/
/* Large Devices - Desktops */
/* Medium Devices - Desktops */
/* Small Devices - Tablets */
@media screen and (max-width: 1199px) {
  
  header#header nav.main-nav {
    position: relative;
    padding: 0;
    margin: 28px 0 0;
  }
  
  header#header nav.main-nav::before {
    content: '';
    font-family: Fontawesome;
    font-size: 24px;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header#header nav.main-nav > ul {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1009;
    overflow: scroll;
    padding: 80px;
    display: none;
  }
  
  header#header nav.main-nav > ul > li {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  header#header nav.main-nav > ul > li::before,
  header#header nav.main-nav > ul > li::after {
    display: none;
  }
  
  header#header nav.main-nav > ul > li + li {
    margin: 0px;
  }
  
  header#header nav.main-nav > ul > li.menu-item-has-children > a::after {
    font-size: 0.6em;
    top: -2px;
    position: relative;
  }
  
  header#header nav.main-nav > ul > li > a {
    font-size: 3em;
    line-height: 1em;
    text-transform: none;
  }
  
  header#header nav.main-nav > ul > li > ul > li > a {
    font-size: 1.8em;
    line-height: 1em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li > ul > li > ul > li > a {
    font-size: 1.2em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li ul {
    position: relative;
    top: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
    width: auto;
    display: block;
    text-align: left;
    border: 0px;
    background: none;
    margin-left: 30px;
    margin-top: 10px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  
  header#header nav.main-nav > ul > li ul li {
    border: 0px;
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav > ul > li ul li:hover {
    background: none;
  }
  
  header#header nav.main-nav > ul > li ul li + li {
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav.show-menu > ul {
    display: block;
  }
  
  header#header nav.main-nav.show-menu #close-menu {
    display: block;
  }
  
  header#header nav.main-nav.show-menu > ul > li > a {
    color: #444444;
  }
  
  header#header nav.main-nav.show-menu > ul > li.current-menu-item > a,
  header#header nav.main-nav.show-menu > ul > li.current-menu-parent > a {
    color: #ffb661;
  }
  
  header#header nav.main-nav.show-menu > ul > li > ul li.li.current-menu-item > a {
    color: #ffb661;
  }
  
  .sidebar .widget {
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    padding: 0px;
    position: relative;
  }
  
  .sidebar .widget .widget-title {
    font-size: 24px;
    font-family: 'Montserrat';
    color: #444444;
    letter-spacing: -0.5px;
    line-height: 1em;
    font-weight: 700;
    padding-left: 35px;
    padding-top: 30px;
  }
  
  .sidebar .widget .widget-title a {
    color: #444444;
    text-decoration: none;
  }
  
  .sidebar .widget .widget-title a:hover {
    color: #ffb661;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget .widget-content {
    display: inline-block;
    padding: 20px 34px 55px 34px;
    width: 100%;
  }
  
  .sidebar .widget .widget-content img {
    width: 100%;
  }
  
  .sidebar .widget .widget-content p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Merriweather';
    color: #888888;
    line-height: 26px;
    margin-top: 30px;
  }
  
  .sidebar .widget .widget-content h3 {
    font-size: 18px;
    color: #444444;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  
  .sidebar .widget .widget-content > ul {
    list-style-type: none;
    margin-top: -20px;
    padding: 0px;
    display: block;
  }
  
  .sidebar .widget .widget-content > ul li {
    padding: 5px 0;
    border-bottom: 1px dashed #dddddd;
    font-family: 'Montserrat';
    line-height: 54px;
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .sidebar .widget .widget-content > ul li a {
    color: #888888;
    text-decoration: none;
  }
  
  .sidebar .widget .widget-content > ul li a:hover {
    color: #ffb661;
  }
  
  .sidebar .widget .widget-content > ul li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
  }
  
  .sidebar .widget .widget-content .widget-more {
    float: left;
    margin-top: 15px;
  }
  
  .sidebar .widget .widget-content.sm {
    margin: -20px 0 48px 0;
    padding: 0 30px;
  }
  
  .sidebar .widget .widget-recent {
    width: 100%;
    border-bottom: 1px dashed #e2e2e2;
    margin-bottom: 30px;
  }
  
  .sidebar .widget .widget-recent img {
    width: 100%;
    height: 140px;
  }
  
  .sidebar .widget .widget-recent a {
    text-decoration: none;
    color: #444444;
  }
  
  .sidebar .widget .widget-recent a:hover {
    color: #ffb661;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget .widget-recenth4 {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
    letter-spacing: -0.38px;
    line-height: 24px;
    font-family: 'Montserrat';
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar .widget .widget-recent p {
    font-size: 13px;
    line-height: 24px;
    color: #666666;
    margin: 0 0 30px 0;
  }
  
  .sidebar .widget .widget-recent.last {
    border: none;
  }
  
  .sidebar .widget .widget-recent.last img {
    width: 100%;
    height: 140px;
  }
  
  .sidebar .widget-sub {
    border: 5px solid #ffa338;
    background: #ffb661;
    width: 100%;
    height: 305px;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
  }
  
  .sidebar .widget-sub h5 {
    padding: 0;
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    line-height: 11px;
  }
  
  .sidebar .widget-sub p {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Merriweather';
    line-height: 24px;
  }
  
  .sidebar .widget-sub.social {
    width: 100%;
    min-height: 350px;
    background: #FFFFFF;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #dddddd;
  }
  
  .sidebar .widget-sub.social > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
  }
  
  .sidebar .widget-sub.social > ul li {
    padding: 15px 0 60px 0;
    text-align: left;
    color: #888888;
    font-family: 'Montserrat';
    border-bottom: 1px dashed #dddddd;
  }
  
  .sidebar .widget-sub.social > ul li div {
    color: #888888;
    font-size: 12px;
    text-align: right;
    padding: 1px 6px;
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    display: block;
    float: right;
    font-weight: 500;
    line-height: 15px;
    margin-top: 8px;
  }
  
  .sidebar .widget-sub.social > ul li:last-child {
    border: none;
  }
  
  .sidebar .widget-sub.social > ul li:first-child {
    margin: 0px;
  }
  
  .sidebar .widget-sub.social > ul li a {
    color: #888888;
    text-decoration: none;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget {
    float: left;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget span {
    color: #888888;
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget span:hover {
    color: #ffb661;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-facebook {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: #3b5998;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-facebook:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-twitter {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    background: #55acee;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-twitter:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-google-plus {
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 47px;
    height: 47px;
    background: #dc4e41;
    line-height: 47px;
    text-align: center;
    border-radius: 30px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-google-plus:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-instagram {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    background: #3f729b;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-instagram:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub-s {
    width: 100%;
    /* height: 50px; */
    display: block;
    background: #FFFFFF;
    margin: 30px 0 0 0;
    border-radius: 45px;
    padding: 26px 0;
  }
  
  .sidebar .widget-sub-s .sign_up_form {
    width: 60%;
    height: auto;
    background: none;
    float: left;
    margin: -20px 0 0 23px;
    font-family: Arial sans-serif;
    font-style: normal;
    color: #dddddd;
    font-size: 14px;
  }
  
  .sidebar .widget-sub-s .sign_up_form input {
    border: none;
    font-family: Arial sans-serif;
    font-style: normal;
    font-size: 14px;
  }
  
  .sidebar .widget-sub-s div {
    position: absolute;
    top: -2px;
    right: -89px;
  }
}
@media (max-width: 996px) {
  
  header#header nav.main-nav {
    position: relative;
    padding: 0;
    margin: 28px 0 0;
  }
  
  header#header nav.main-nav::before {
    content: '';
    font-family: Fontawesome;
    font-size: 24px;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header#header nav.main-nav > ul {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1009;
    overflow: scroll;
    padding: 80px;
    display: none;
  }
  
  header#header nav.main-nav > ul > li {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  header#header nav.main-nav > ul > li::before,
  header#header nav.main-nav > ul > li::after {
    display: none;
  }
  
  header#header nav.main-nav > ul > li + li {
    margin: 0px;
  }
  
  header#header nav.main-nav > ul > li.menu-item-has-children > a::after {
    font-size: 0.6em;
    top: -2px;
    position: relative;
  }
  
  header#header nav.main-nav > ul > li > a {
    font-size: 3em;
    line-height: 1em;
    text-transform: none;
  }
  
  header#header nav.main-nav > ul > li > ul > li > a {
    font-size: 1.8em;
    line-height: 1em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li > ul > li > ul > li > a {
    font-size: 1.2em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li ul {
    position: relative;
    top: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
    width: auto;
    display: block;
    text-align: left;
    border: 0px;
    background: none;
    margin-left: 30px;
    margin-top: 10px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  
  header#header nav.main-nav > ul > li ul li {
    border: 0px;
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav > ul > li ul li:hover {
    background: none;
  }
  
  header#header nav.main-nav > ul > li ul li + li {
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav.show-menu > ul {
    display: block;
  }
  
  header#header nav.main-nav.show-menu #close-menu {
    display: block;
  }
  
  header#header nav.main-nav.show-menu > ul > li > a {
    color: #444444;
  }
  
  header#header nav.main-nav.show-menu > ul > li.current-menu-item > a,
  header#header nav.main-nav.show-menu > ul > li.current-menu-parent > a {
    color: #ffb661;
  }
  
  header#header nav.main-nav.show-menu > ul > li > ul li.li.current-menu-item > a {
    color: #ffb661;
  }
  
  .sidebar .widget {
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    padding: 0px;
    position: relative;
  }
  
  .sidebar .widget .widget-title {
    font-size: 24px;
    font-family: 'Montserrat';
    color: #444444;
    letter-spacing: -0.5px;
    line-height: 1em;
    font-weight: 700;
    padding: 0;
    text-align: center;
  }
  
  .sidebar .widget .widget-title a {
    color: #444444;
    text-decoration: none;
  }
  
  .sidebar .widget .widget-title a:hover {
    color: #ffb661;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget .widget-content {
    display: inline-block;
    padding: 20px 34px 55px 34px;
    width: 100%;
  }
  
  .sidebar .widget .widget-content img {
    width: 100%;
  }
  
  .sidebar .widget .widget-content p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: 'Merriweather';
    color: #888888;
    line-height: 26px;
    margin-top: 30px;
  }
  
  .sidebar .widget .widget-content h3 {
    font-size: 18px;
    color: #444444;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  
  .sidebar .widget .widget-content > ul {
    list-style-type: none;
    margin-top: -20px;
    padding: 0px;
    display: block;
  }
  
  .sidebar .widget .widget-content > ul li {
    padding: 5px 0;
    border-bottom: 1px dashed #dddddd;
    font-family: 'Montserrat';
    line-height: 54px;
    font-size: 11px;
    text-transform: uppercase;
  }
  
  .sidebar .widget .widget-content > ul li a {
    color: #888888;
    text-decoration: none;
  }
  
  .sidebar .widget .widget-content > ul li a:hover {
    color: #ffb661;
  }
  
  .sidebar .widget .widget-content > ul li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
  }
  
  .sidebar .widget .widget-content .widget-more {
    float: left;
    margin-top: 15px;
  }
  
  .sidebar .widget .widget-content.sm {
    margin: -20px 0 48px 0;
    padding: 0 30px;
  }
  
  .sidebar .widget .widget-recent {
    width: 100%;
    border-bottom: 1px dashed #e2e2e2;
    margin-bottom: 30px;
  }
  
  .sidebar .widget .widget-recent img {
    width: 100%;
    height: 140px;
  }
  
  .sidebar .widget .widget-recent a {
    text-decoration: none;
    color: #444444;
  }
  
  .sidebar .widget .widget-recent a:hover {
    color: #ffb661;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget .widget-recenth4 {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
    letter-spacing: -0.38px;
    line-height: 24px;
    font-family: 'Montserrat';
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar .widget .widget-recent p {
    font-size: 13px;
    line-height: 24px;
    color: #666666;
    margin: 0 0 30px 0;
  }
  
  .sidebar .widget .widget-recent.last {
    border: none;
  }
  
  .sidebar .widget .widget-recent.last img {
    width: 100%;
    height: 140px;
  }
  
  .sidebar .widget-sub {
    border: 5px solid #ffa338;
    background: #ffb661;
    width: 100%;
    height: 305px;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
  }
  
  .sidebar .widget-sub h5 {
    padding: 0;
    margin: 30px 0 30px 0;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    line-height: 11px;
  }
  
  .sidebar .widget-sub p {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Merriweather';
    line-height: 24px;
  }
  
  .sidebar .widget-sub.social {
    width: 100%;
    min-height: 350px;
    background: #FFFFFF;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #dddddd;
  }
  
  .sidebar .widget-sub.social > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
  }
  
  .sidebar .widget-sub.social > ul li {
    padding: 15px 0 60px 0;
    text-align: left;
    color: #888888;
    font-family: 'Montserrat';
    border-bottom: 1px dashed #dddddd;
  }
  
  .sidebar .widget-sub.social > ul li div {
    color: #888888;
    font-size: 12px;
    text-align: right;
    padding: 1px 6px;
    text-transform: uppercase;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    display: block;
    float: right;
    font-weight: 500;
    line-height: 15px;
    margin-top: 8px;
  }
  
  .sidebar .widget-sub.social > ul li:last-child {
    border: none;
  }
  
  .sidebar .widget-sub.social > ul li:first-child {
    margin: 0px;
  }
  
  .sidebar .widget-sub.social > ul li a {
    color: #888888;
    text-decoration: none;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget {
    float: left;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget span {
    color: #888888;
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget span:hover {
    color: #ffb661;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-facebook {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: #3b5998;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-facebook:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-twitter {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    background: #55acee;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-twitter:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-google-plus {
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 47px;
    height: 47px;
    background: #dc4e41;
    line-height: 47px;
    text-align: center;
    border-radius: 30px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-google-plus:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-instagram {
    font-size: 14px;
    color: #FFFFFF;
    width: 47px;
    height: 47px;
    background: #3f729b;
    line-height: 47px;
    text-align: center;
    border-radius: 50px;
  }
  
  .sidebar .widget-sub.social > ul li .social-widget .fa-instagram:hover {
    color: #e2cfff;
  }
  
  .sidebar .widget-sub-s {
    width: 100%;
    /* height: 50px; */
    display: block;
    background: #FFFFFF;
    margin: 30px 0 0 0;
    border-radius: 45px;
    padding: 26px 0;
  }
  
  .sidebar .widget-sub-s .sign_up_form {
    width: 60%;
    height: auto;
    background: none;
    float: left;
    margin: -20px 0 0 23px;
    font-family: Arial sans-serif;
    font-style: normal;
    color: #dddddd;
    font-size: 14px;
  }
  
  .sidebar .widget-sub-s .sign_up_form input {
    border: none;
    font-family: Arial sans-serif;
    font-style: normal;
    font-size: 14px;
  }
  
  .sidebar .widget-sub-s div {
    position: absolute;
    top: -2px;
    right: -89px;
  }
  
  .swiper-center {
    right: 40%;
  }
  
  .post-content {
    margin-top: 30px;
    padding: 0 30px;
  }
  
  .post-footer {
    padding: 0 60px;
    margin: 26px 0 75px 0;
  }
  
  .post-footer .s-tags a {
    margin-top: 18px;
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    font-family: #444444;
    font-weight: normal;
    color: #888;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #e2e2e2;
    padding: 6px 13px;
    margin-bottom: 5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
  }
  
  .post-footer .s-tags a:hover {
    text-decoration: none;
    background-color: #eea236;
    color: #FFFFFF;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .post-footer .content-social {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .post-footer .content-social a {
    margin-top: 5px;
    margin-left: 15px;
    padding: 0px;
  }
  
  article.content-item .post-content.comment .comment-form input {
    width: 80%;
  }
}
@media (max-width: 568px) {
  
  header#header nav.main-nav {
    position: relative;
    padding: 0;
    text-align: center;
    margin: 12px 0px 0 0;
    float: initial;
  }
  
  header#header nav.main-nav::before {
    content: '';
    font-family: Fontawesome;
    font-size: 24px;
    color: #444444;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  header#header nav.main-nav > ul {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1009;
    overflow: scroll;
    padding: 80px;
    display: none;
  }
  
  header#header nav.main-nav > ul > li {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  header#header nav.main-nav > ul > li::before,
  header#header nav.main-nav > ul > li::after {
    display: none;
  }
  
  header#header nav.main-nav > ul > li + li {
    margin: 0px;
  }
  
  header#header nav.main-nav > ul > li.menu-item-has-children > a::after {
    font-size: 0.6em;
    top: -2px;
    position: relative;
  }
  
  header#header nav.main-nav > ul > li > a {
    font-size: 3em;
    line-height: 1em;
    text-transform: none;
  }
  
  header#header nav.main-nav > ul > li > ul > li > a {
    font-size: 1.8em;
    line-height: 1em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li > ul > li > ul > li > a {
    font-size: 1.2em;
    padding: 0px;
  }
  
  header#header nav.main-nav > ul > li ul {
    position: relative;
    top: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
    width: auto;
    display: block;
    text-align: left;
    border: 0px;
    background: none;
    margin-left: 30px;
    margin-top: 10px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  
  header#header nav.main-nav > ul > li ul li {
    border: 0px;
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav > ul > li ul li:hover {
    background: none;
  }
  
  header#header nav.main-nav > ul > li ul li + li {
    padding: 0px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  header#header nav.main-nav.show-menu > ul {
    display: block;
  }
  
  header#header nav.main-nav.show-menu #close-menu {
    display: block;
  }
  
  header#header nav.main-nav.show-menu > ul > li > a {
    color: #444444;
  }
  
  header#header nav.main-nav.show-menu > ul > li.current-menu-item > a,
  header#header nav.main-nav.show-menu > ul > li.current-menu-parent > a {
    color: #ffb661;
  }
  
  header#header nav.main-nav.show-menu > ul > li > ul li.li.current-menu-item > a {
    color: #ffb661;
  }
  
  .h-search {
    float: right;
    padding: 12px;
  }
  
  .entry-date {
    padding: 0;
    margin-top: 14px;
    margin-bottom: 40px;
    width: 100%;
    height: 5px;
  }
  
  .entry-date ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
  }
  
  .entry-date ul li {
    padding: 0;
    display: inline-block;
    margin: 0;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.3px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #888888;
  }
  
  .entry-date ul li a {
    color: #ffb661;
    text-decoration: none;
  }
  
  .entry-date ul li a:hover {
    color: #ffa63d;
  }
  
  .entry-date ul li::after {
    content: '•';
    color: #e2e2e2;
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .entry-date ul li:last-child::after {
    display: none;
  }
  
  .entry-date .post-category {
    color: #ffb661;
    margin: 0;
    float: left;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.3px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 8px 15px 0 0;
  }
  
  .entry-date .post-date {
    color: #888888;
    margin: 0;
    float: left;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.3px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 8px 15px;
  }
  
  .entry-date .post-comment {
    color: #888888;
    margin: 0;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.3px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    float: left;
    padding: 8px 0 0 15px;
  }
  
  .swiper-center {
    right: 28%;
  }
  
  .contact-media .contact-row .contact-submit {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
  }
  
  .contact-media .contact-row .contact-form input {
    width: 100%;
  }
  
  article.content-item .post-content.comment .comment-form input {
    width: 100%;
  }
  
  article.content-item .post-title {
    padding: 60px 0 0 25px;
  }
  
  article.content-item .post-title h2 {
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    font-size: 32px;
  }
  
  article.content-item .post-content {
    margin-top: 30px;
    padding: 0 30px;
  }
  
  #comments {
    margin: 10px 10px 0 30px;
  }
  
  #comments.comments-wrapper ol.comment-list li ol {
    padding: 0;
  }
  
  .button.color-y {
    right: -62px;
    font-size: 12px;
  }
  
  .button.color-y:hover {
    background-color: #ffa63d;
    color: #FFFFFF;
  }
  
  .post-footer {
    padding: 0 60px;
    margin: 26px 0 75px 0;
    text-align: center;
  }
  
  .post-footer .s-tags a {
    margin-top: 18px;
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    font-family: #444444;
    font-weight: normal;
    color: #888;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #e2e2e2;
    padding: 6px 13px;
    margin-bottom: 5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
  }
  
  .post-footer .s-tags a:hover {
    text-decoration: none;
    background-color: #eea236;
    color: #FFFFFF;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .post-footer .content-social {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  
  .post-footer .content-social a {
    margin-top: 5px;
    margin-left: 15px;
    padding: 0px;
  }
  
  footer#footer .widget.widget-subscribe-form .widget-title {
    float: none !important;
  }
}